
.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Date{
    padding: 20px;
    position: relative;
    align-self: baseline;
    font-family: var(--font);
    font-weight: 600;
    font-size: 40px;
    color:#FFF;
    background:var(--greenbar);
    border-radius: 50px;
    top:20px;
    left:50px;
}

.Data{
    position: relative;
    width: 80%;
    bottom:118px;
}
.topElements{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    top:100px

}

.midElements{
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 540px;

}

.Image{
    position: relative;
    width:400px;
    left:30px;
    bottom:5px;
}

.botElements{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    bottom: 200px;
}

.box{
    position: relative;
    transform:translateY(0px);
    transition: transform .2s ease-in-out,box-shadow .2s ease-in-out,background .2s ease-in-out;
    opacity: 90%;
    width:300px;
    height:150px;
    border-radius: 30px;
    box-shadow:0px 15px 20px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:var(--Boxbg);
    padding: 30px;
}
  /*transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;*/
  
.box > div {
    color:var(--info);
    transition: color .2s ease-in-out;
}

.box:hover{
    position: relative;
    transform:translateY(-5px);
    box-shadow:0px 25px 21px rgba(0,0,0,.2);
    transition: all .2s ease-in-out;
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15); 
}
.box h2{
    margin: 10px;
    color: rgb(243, 84, 22);
}

#TLh {
    position: relative;
    top:80px;
    /*background:var(--Boxbg)*/ /*linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(220,234,252,1) 30%, rgba(220,234,252,1) 100%);*/
}

#BLh {
    position: relative;
    bottom:50px;
    height: 200px;
    /*background: var(--Boxbg)*/ /*linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(220,234,252,1) 30%, rgba(220,234,252,1) 100%);*/
}

#TRh {
    position: relative
    /*background:var(--Boxbg)*/ /* linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(220,234,252,1) 30%, rgba(220,234,252,1) 100%);*/
}

#BRh {
    position: relative;
    bottom:20px;
    /*background:var(--Boxbg)*/ /* linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(220,234,252,1) 30%, rgba(220,234,252,1) 100%);*/
}
#BRh:hover + #BRh::before{
    width: 40px;
    height: 10px;
    background-color: red;
    position: relative;
    right: 200px;
    display: block;
}

.info{
    color:var(--greenbar) ;
    font-size:22px;
    font-weight: 600;
}

.barL{
    border-radius: 5px;
    margin-top: 20px;
    background: linear-gradient(90deg, rgba(243,84,22,1) 0%/*, rgba(120,129,199,1) 50%*/, rgba(63,215,180,1) 100%);
    width: 200px;
    height:10px;
    box-shadow:0px 0px 0px 5px white,
    0px 0px 5px 10px rgba(0,0,0,0.05);
}

.barM{
    border-radius: 5px;
    margin-top: 20px;
    background: linear-gradient(90deg, rgba(243,84,22,1) 0%/*, rgba(120,129,199,1) 25%*/, rgba(63,215,180,1) 45%, rgba(63,215,180,1) 55%/*, rgba(120,129,199,1) 75%*/, rgba(243,84,22,1) 100%);
    width: 200px;
    height:10px;
    box-shadow:0px 0px 0px 5px white,
               0px 0px 5px 10px rgba(0,0,0,.05);
}

.cursor{
    position: relative;
    border-radius: 30%;
    bottom:50%;
    height:20px;
    width:7px;
    background:var(--dark);
}