#omar {
  animation-duration: 3s;
  animation-name: slidein;
  font-size: 48px;
}

@keyframes slidein {
  from {
    margin-left: 72%;
    width: 80%;
  }

  to {
    margin-left: 36%;
    width: 40%;
  }
  50% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }
}