:root {
    --dark : #282c34;
    --white: rgb(236,236,236)
}

body.light{
    --background-color: var(--white);
    --text-color: var(--dark);
    --font-weight:400;
}


body.light{
    --background-color: var(--dark);
    --text-color: var(--white);
    --font-weight:400;
}

body{
    background: var(--background-color);
    color: var(--text-color);
    font-weight: var(--font-weight);
    transition: background .3s ease-in-out, color .6s ease-in-out;
}