:root {
    --dark : #282c34;
    --white: #dcfcf5;
    --blackquiz:rgba(255, 255, 255, 0.473);
    --whitequiz:rgba(0, 0, 0, 0.205);
    --dark-div:#FFD36E;
    --light-div:#5584AC;
    --sun:url('./components/DarkMode/sun.svg');
    --moon:url('./components/DarkMode/moon.svg');
    --text-light:#3ba8c9;
    --text-dark:#2e5951;
    --dark-question:#b6e7de;
    --light-question:#64bdd888;
    --linear-lightbackground:linear-gradient(90deg, rgba(109,210,180,1) 12%, rgba(29,66,168,1) 79%);
    --linear-darkbackground:linear-gradient(270deg, rgba(109,210,180,1) 12%, rgba(29,66,168,1) 79%);
    --light-map:url(mapbox://styles/mapbox/streets-v11);
    --dark-map:url(mapbox://styles/superh257/cl1i3cdo5004l16rzsgbhrw3w)
}

body.light{
    --blackquiz:var(--blackquiz);
    --background-color: var(--white);
    --text-color: var(--dark);
    --font-weight:400;
    --back-div:var(--dark-div);
    --img:var(--moon);
    --text-div:var(--text-dark);
    --back-question:var(--light-question);
    --linear-background:var(--linear-darkbackground);
    --map-theme:var(--light-map)
}


body.dark{
    --blackquiz:var(--whitequiz);
    --background-color: var(--dark);
    --text-color: var(--white);
    --font-weight:400;
    --back-div:var(--light-div);
    --img:var(--sun);
    --text-div:var(--text-light);
    --back-question: var(--dark-question);
    --linear-background:var(--linear-lightbackground);
}



body{
    background: var(--background-color);
    color: var(--text-color);
    font-weight: var(--font-weight);
    transition: background .3s ease-in-out, color .6s ease-in-out;
}

